
.nav-item .nav-link{
  
  font-weight: 700!important;
}


h1 {
    /* color: #A21012; */
    color: black;
    
    font-weight:bold;
  }

  .fvh
  {
    --varheight: 0px;
    min-height: calc(100vh - 74px - var(--varheight));
    
  }

  
h4{
  color:#4f4f4f;
}

.card {
  /* From https://css.glass */
background: rgba(255, 255, 255, 0.11);
border-radius: 16px ;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(3.5px);
-webkit-backdrop-filter: blur(3.5px);
border: 1px solid rgba(255, 255, 255, 0.3);
padding: 0.5rem;
}

#slogan
{
	 font-family: monospace;
}


@keyframes sloganAnim {
	0%,
	100% {
		transform: rotate(0deg);
		transform-origin: 50% 50%;
	}

	10% {
		transform: rotate(8deg);
	}

	20%,
	40%,
	60% {
		transform: rotate(-10deg);
	}

	30%,
	50%,
	70% {
		transform: rotate(10deg);
	}

	80% {
		transform: rotate(-8deg);
	}

	90% {
		transform: rotate(8deg);
	}
}
img
{
   border-radius: 30px 30px 30px 30px;
 
}

body{
  background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
  overflow:auto;
  overflow-x: hidden;
}

.navbar
{
   color: #A21012;
   
   
}
.main-color
{
	 color: #A21012 !important;
	
}

#hero2{
  /* font-family: 'Playfair Display', serif !important; */
  font-family: 'Inter', sans-serif;
  display: flex;
    justify-content: center !important;
   align-items: center !important; 
   padding: 5vw;
   
}


/* DEMO-SPECIFIC STYLES */
.typewriter{

  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .05em solid #A21012; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .05em; /* Adjust as needed */
  animation: 
    typing 3.5s steps(30, end),
    blink-caret .5s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: #A21012 }
}


.headingX{
  /* font-family: 'Playfair Display', serif !important; */
  font-family: 'Inter', sans-serif;
  /* display: flex;
   justify-content: center !important;
   align-items: center !important; */
   
}
.hl-text {
  color: #A21012;
  
}

#hero3{
  /* font-family: 'Playfair Display', serif !important; */
  font-family: 'Inter', sans-serif;
  display: flex;
   padding-left: 30px;
   
}
#pt-0{
  /* font-family: 'Playfair Display', serif !important; */
   padding-top: 0px;
   
}

.blog-li .see-li
{
  gap:20px;
}
#landing-section
{
  min-height: 100vh;

  
}








@media (max-width: 991px) {
    .navbar-scroll {
      background-color: #fff;
    }
       
    .navbar-scroll .navbar-brand,
    .navbar-scroll .nav-link,
    .navbar-scroll .fa-bars {
      color: #4f4f4f !important;
    }         
  }
  
  .navbar-brand {
    letter-spacing: 3px;
    font-size: 2rem;
    font-weight: 500;
  }
  .navbar-scroll .navbar-brand,
  .navbar-scroll .nav-link,
  .navbar-scroll .fa-bars {
    color: #fff;
  }
  
  .navbar-scroll {
    box-shadow: none;
  }
  
  .navbar-scrolled {
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.05);
  }
  
  .navbar-scrolled .navbar-brand,
  .navbar-scrolled .nav-link,
  .navbar-scrolled .fa-bars {
    color: #4f4f4f;
  }
  
  .navbar-scrolled {
    background-color: #fff;
  }
  
  @media (max-width: 450px) {
    #intro {
      height: 950px !important;
    }
  }
  
  @media (min-width: 550px) and (max-width: 750px) {
    #intro {
      height: 1100px !important;
    }
  }
  
  @media (min-width: 800px) and (max-width: 990px) {
    #intro {
      height: 600px !important;
    }
  }
  
  .display-1 {
    font-weight: 500 !important;
    letter-spacing: 40px;
  }
  
  @media (min-width: 1600px) {
    .display-1 {
      font-size: 10rem;
    }
  }



  @media (max-width: 767px) {
    .fvh {
      --varheight: 50vh !important;
    }
  }